// COLORS
$white: #fff;
$main-color: #29C7D2;
$sub-color: #253FE1;

$color__bg: $sub-color;
$color__sidebar: $white;
$color__toggle: $sub-color;

// SIZES
$width__sidebar: 15em;

* {
  box-sizing: border-box;
}

body {
  background-color: $color__bg;
  overflow-x: hidden;
}

.sidebar-toggle {
  position: fixed;
  z-index: 1;
  border: 4px solid $white;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -6em;
  margin-top: 1em;
  background-color: $color__toggle;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .5s;
  
  &.is-closed {
    transform: translateX(.3em) rotate(0deg);  
  }
  
  .icon {
    font-size: 1.5rem;
    color: $white;
  }
}

.sidebar {
  position: absolute;
  right: 0;
  width: $width__sidebar;
  height: 100vh;
  background-color: $color__sidebar;
  transition: .7s;
  
  &.is-closed {
    transform: translateX(15em);
  }
}